* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: acme, Arial;
    user-select: none;
}

button:focus {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

nav {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav>li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
    font-weight: 500;
}

#logo {
    height: 80px;
    width: 120px;
}

button {
    border: none;
    outline: none;
}

#location:hover {
    background-color: #282d31;
}

#header {
    height: 80px;
}

#slideshow {
    height: 70%;
    width: 100%;
}

.card-header>img {
    width: 100%;
    height: 250px;
}

.buyBtn {
    width: 80px;
    height: 50px;
    background-color: #da0a0a;
    color: #fff;
    border-radius: 10px;
    outline: none;
    border: none;
}

.modal {
    background-color: #303030cc;
    display: none;
}

.modal-content {
    background-color: #fff;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 2px solid #242323;
}

.modal-content>form {
    width: 100%;
}

.inputs {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background-color: transparent;
}

.label {
    text-align: left;
    font-weight: 700;
}

.formBtn {
    width: 100px;
    border: none;
    outline: none;
    height: 50px;
    border-radius: 10px;
    background-color: #2c046d;
    color: #fff;
    font-weight: 700;
}

#signUp:hover {
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px double #2c2c2c;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

header>h3 {
    font-weight: 800;
}

.closeBtn {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #2c046d;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeBtn:focus {
    box-shadow: 0 2px 4px 2px #a16ff3;
}

.formBtn:focus {
    box-shadow: 0 2px 4px 2px #a16ff3;
}

#setLocation {
    height: 50px;
    border-radius: 20px;
    margin-top: 10px;
}

.map-cont {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#usersName {
    display: none;
    font-size: 3 z0px;
    color: #511fa1;
}

#registerMessage {
    margin-top: 20px;
    font-size: 20px;
}

#signInMessage {
    margin-top: 20px;
    font-size: 20px;
}

#signUpImg {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#offers {
    width: 80%;
    margin: auto;
}

#coupons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;
    margin-bottom: 30px;
}

.coupons-avaliable {
    width: 200px;
    height: 300px;
}

.card {
    text-align: center;
}

.card>p {
    margin-top: 30px;
    margin-bottom: 30px;
}

.avail {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    height: 30px;
    background-color: #da0a0a;
    color: #fff;
    border-radius: 10px;
}

.avail:hover {
    color: #ccc;
}

.none {
    height: 30px;
    width: 100%;
    margin-top: 50px;
}

#airtel {
    margin-top: 20px;
    text-align: center;
}

#footer {
    width: 75%;
    margin: auto;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px 2px #ccc;
}

#about {
    text-align: center;
    font-weight: 500;
}

#links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #706f6f;
}

#links>ul, li {
    display: inline;
    font-weight: 300;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.download {
    height: 40px;
    width: 100px;
    margin-bottom: 10px;
}

#social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 30px;
}

#socialImages>img {
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

#modal-content2 {
    width: 800px;
    height: 800px;
    overflow-y: scroll;
    margin-top: 20px;
    margin-bottom: 20px;
}

#savedAddress {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    display: flex;
}

#locationName {
    margin-left: 20px;
}

#edit {
    margin-right: 40px;
}

#newAddressCont {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

#deleteAddress:hover {
    color: #511fa1;
}

#form {
    text-align: center;
}

#placeName {
    margin-bottom: 20px;
}

#gift {
    display: none;
}

#giftMessage {
    height: 100px;
    width: 100%;
}

.cont {
    margin-bottom: 30px;
}

.addressInput {
    width: 250px;
}

.payment {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#giftMessageCont {
    margin-top: 20px;
    margin-bottom: 20px;
}

#placeOrder {
    padding: 15px;
    width: 100%;
    background-color: #511fa1;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #6c45aa;
}

#placeOrder:focus {
    box-shadow: 0 2px 5px 2px #511fa1;
}

#promoCodeCont {
    display: none;
}

#alert-box {
    display: none;
}

.active {
    color: #dd3939;
}

.collapse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.items {
    width: 100%;
    margin: auto;
}

.card {
    width: 100%;
    height: 400px;
}

